# ── Pyrogram Core ─────────────────────────
pyrogram
tgcrypto

# ── Encode Bot Core ───────────────────────
python-dotenv
pymongo
motor
psutil
pySmartDL
requests
requests-cache
aiohttp
Pillow
pymediainfo
ffmpeg-python
yt-dlp
patool

# ── Link Generators ───────────────────────
cloudscraper
lk21

# ── Google Drive ──────────────────────────
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# ── RTI Downloader Plugin ─────────────────
selenium==4.18.1
beautifulsoup4
lxml
hachoir
