# ── Encode Bot Core ──────────────────────
pyrogram
tgcrypto
python-dotenv
pymongo
motor
psutil
pySmartDL
requests
requests-cache
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

# ── RTI Downloader Plugin ─────────────────
selenium==4.18.1
beautifulsoup4
lxml
hachoir
